:root {
    --primaryColor: #64B9FD;
    --secondaryColor: #FFC100;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span {
    color: var(--primaryColor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav {
    /*background-color: chocolate;*/
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover {
    color: var(--primaryColor);
    text-decoration: none;
    text-transform: capitalize;
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.content {
    /*background-color: #FFC100;*/
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-text {
    position: relative;
    bottom: 70px;
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3 {
    font-size:1.5rem;
    margin-bottom: 3rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}

.social {
    margin-top: 3rem;
}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover {
    transform: scale(1.3);
}

.container-images {
    width: 40%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.container-images img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.container-images:hover .shape {
    bottom: 40px;
}

.container-images:hover .mypic {
    left: 45%;
}