:root {
    --primaryColor: #64B9FD;
    --secondaryColor: #FFC100;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

span {
    color: var(--primaryColor);
}

p {
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h3 {
    font-size:1.5rem;
    margin-bottom: 3rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: var(--secondaryColor);
}

h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

nav {
    /*background-color: chocolate;*/
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover {
    color: var(--primaryColor);
    text-decoration: none;
    text-transform: capitalize;
}


/*================== Home Section ==================*/

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.content {
    /*background-color: #FFC100;*/
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts {
    position: relative;
    bottom: 70px;
}

/*================== Social Section ==================*/

.social {
    margin-top: 3rem;
}

.social a {
    text-decoration: none;
}

.social img {
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover {
    transform: scale(1.3);
}

.home .container-images {
    width: 40%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-images img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape {
    bottom: 40px;
}

.home .container-images:hover .mypic {
    left: 45%;
}

/*================== About Section ==================*/

.about {
    background-color: var(--bgColor-2);
    padding: 3rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .container-images {
    width: 35%;
}

.about .container-images img {
    width: 100%;
}

.about .container-texts {
    width: 50%;
    padding-top: 2rem;
}

/*================== Services Section ==================*/

.services {
    background-color: var(--bgColor-1);
    padding: 3rem var(--padding);
}

.text-center {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-between;
}

.box .card{
    width: 250px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.box .card i {
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    padding: 2rem;
}

/*================== Skills Section ==================*/

.skills {
    background-color: var(--bgColor-2);
    padding: 3rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skills {
    color: var(--secondaryColor);
}

.skills .container-images {
    width: 35%;
}

.skills .container-images img {
    width: 100%;
}

.skills .container-skills {
    width: 60%;
}

.content-skills {
    display: flex;
    flex-wrap: wrap;
}

.content-skills img {
    width: 70px;
    height: 70px;
}

.skill {
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*================== Footer Section ==================*/

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;
}

/*================== Humberger Menu ==================*/

#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
	transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
	opacity: 0;
	transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
	transform: translate(-3px, 3px) rotate(-45deg);
}

menu.is-active span {
	background-color: var(--primaryColor);
}



/**********************************************************/

/*================== Media Queries ==================*/

@media screen and (max-width: 575px){
    :root {
        --padding: 1.5rem;
    }

    html {
        font-size: 13px;
    }

    .home .container-images {
        display: none;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
        z-index: 100;
    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgColor-2);
    }

    nav ul.is-active {
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;

    }

    .container-texts {
        bottom: 0rem;
    }

    .social {
        margin-top: 70px;
    }

    h3 {
        margin-bottom: 70px;
    }
    
    #menu {
        display: block;
    }
}

